.App {
  .bg-body-tertiary {
    background: #ed926a !important;
    a.navbar-brand {
      text-align: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Parkinsans", serif;
      letter-spacing: 1.5px;
    }
    button.navbar-toggler {
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    .navbar-collapse {
      height: 100vh;
      .navbar-nav, div.nav-item {
        padding: 60px 0;
        text-align: center;
        div.dropdown-menu {
          border: none;
          border-radius: 0;
          background-color: transparent;
        }
        a.nav-link, a.dropdown-item {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 400;
          line-height: 56px;
          padding: 0 10px;
          color: #242424;
        }
      }
      div.nav-item { 
        padding: 0;
        a#basic-nav-dropdown {
          &:after {
            margin-left: 10px;
          }
        }
        .dropdown-menu {
          a {
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  h1 {
    &.no-mob {
      display: none;
    }
  }
  .App-header {
    section.mobile-center {
      text-align: center;
      .carousel {
        margin-bottom: 60px;
        .carousel-caption {
          p {
            color: inherit;
            font-family: inherit;
          }
        }
      }
      p {
        font-family: "PT Serif", serif;
        font-size: 16px;
        line-height: 26px;
        color: #242424;
      }
      hr {
        width: 90px;
        height: 6px;
        border: none;
        background-color: #ed926a;
        margin: 20px auto 10px;
      }
      h1.section-title {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 20px;
      }
      img.section-image {
        margin-bottom: 60px;
        padding-top: 40px;
      }
      .background {
        button.btn {
          margin-top: 20px;
          padding: 10px 30px;
          border-radius: 0;
          color: #fff;
          background-color: #ed926a;
          border-color: #ed926a;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}
@media all and (min-width: 768px) {
  .App {
    // .bg-body-tertiary {
    //   .navbar-collapse {
    //     height: auto;
    //   }
    // }
    .App-header {
      section.mobile-center {
        .carousel {
          margin-bottom: 0;
        }
        .sector {
          display: flex;
          position: relative;
          background-color: #f1e9e6;
          &:nth-child(odd) {
            flex-direction: row-reverse;
          }
          .container, img {
            flex-basis: 50%;
            width: 50%;
            max-width: 50%;
          }
          .container {
            padding: 140px 40px;
            text-align: left;
            hr {
              margin-top: 0;
              margin-left: 0;
            }
          }
          img.section-image {
            position: relative;
            object-fit: cover;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
@media all and (min-width: 992px) {
  .App {
    .intro {
      padding: 140px 40px;
    }
    .bg-body-tertiary {
      .container {
        flex-direction: column;
        a.navbar-brand {
          width: 100%;
          text-align: center;
          transform: unset;
          padding-top: 36px;
          font-size: 65px;
        }
        .navbar-collapse {
          height: auto;
          width: 100%;
          .me-auto.navbar-nav {
            padding: 0;
            justify-content: space-between;
            width: 100%;
            a.nav-link {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}